In [6]:
import pandas as pd

df = pd.read_excel("testing.xlsx")
n = len(df["Node Index"])
nf = 1  # Number of final assemblies
final_job = n # job number of final assembly, should correspond to nf
m = 5   # Number of machines
print(n, final_job, m)
df

52 52 5

,Node Index,Level,Processing Time,Predecessors
0,1,1,0,NaN
1,2,1,2,1
2,3,2,5,2
3,4,3,2,3
4,5,4,8,4
5,6,4,8,"3,2,4"
6,7,2,1,"3,5"
7,8,2,2,"4,6,3,2,5"
8,9,4,4,"4,8,7,3,2"
9,10,1,8,"8,9,6"
10,11,1,6,"2,4,9,10,3"
11,12,2,5,"8,11,2,6,5"
12,13,4,8,"6,4"
13,14,3,6,"2,6,8"
14,15,4,7,"6,5,12,4"
15,16,3,8,"8,15,7,13,2"
16,17,2,7,"6,8,16,14"
17,18,1,4,6
18,19,2,8,"15,11,10,7,2,18"
19,20,1,1,"6,18,11"
20,21,2,7,"18,16,9"
21,22,4,4,"14,19,3,5"
22,23,4,2,"14,6,22,18"
23,24,2,6,"9,14"
24,25,3,2,"13,14,5,20,3,9,18"
25,26,1,6,"12,7,10,4,8"
26,27,2,9,"11,23,12,14"
27,28,4,7,"4,6,26,21,27"
28,29,1,3,"28,8"
29,30,1,10,"4,23,10,13,12,16"
30,31,1,4,"5,17,27"
31,32,4,4,"22,4,19,18,20"
32,33,3,3,23
33,34,4,7,"15,12,9,7,3,26,31"
34,35,1,4,"22,19,11,4,12"
35,36,4,6,"3,10,31,21,6,14,32"
36,37,4,8,"16,8,3"
37,38,3,10,19
38,39,1,4,"8,10,12,35"
39,40,4,5,"11,35"
40,41,3,4,"35,13,34"
41,42,3,2,"12,20,41,21,6,23,14"
42,43,2,7,"35,21"
43,44,3,3,"19,42,35"
44,45,1,1,10
45,46,4,9,"44,37,22"
46,47,1,2,"34,38,36,32,16,19,2"
47,48,3,7,"25,47,2"
48,49,4,5,"42,15,37,26,24,32,36"
49,50,1,8,"36,38,39"
50,51,4,8,"36,27,30,41,3,35,21"
51,52,5,9,"5, 6, 9, 13, 15, 22, 23, 28, 32, 34, 36, 37, 4..."

In [9]:
print(sum((df["Processing Time"])))
500-390

276

110

In [13]:
import pandas as pd
import numpy as np

# Read the data
df = pd.read_excel("testing.xlsx")

# Initialize parameters
n = len(df["Node Index"])
nf = 1  # Number of final assemblies
final_job = n  # job number of final assembly, should correspond to nf
m = 2  # Number of machines
print(n, final_job, m)

# Initialize lists and variables
feasible_job_ls = [int(job) for job in df["Node Index"]]  # List of feasible jobs F
ops_schedule = []  # Operations/job schedule
end_times = []  # End time for each operation, corresponds to ops schedule
machine_end_times = [0] * m  # Track end time for each machine
makespan = 0

# Helper function to get predecessors
def get_predecessors(index):
    preds = df["Predecessors"][index]
    if pd.isna(preds):
        return []
    else:
        return list(map(int, preds.split(",")))

while feasible_job_ls:
    current_job = feasible_job_ls.pop(0)
    index = int(current_job) - 1
    predecessors = get_predecessors(index)
    processing_time = int(df["Processing Time"][index])
    
    # Check if all predecessors are in the ops_schedule
    if all(pred in ops_schedule for pred in predecessors):
        # Find a machine that is free (earliest available time)
        machine_index = machine_end_times.index(min(machine_end_times))
        
        # Calculate the start time for this job
        start_time = machine_end_times[machine_index]
        end_time = start_time + processing_time
        machine_end_times[machine_index] = end_time
        
        # Update the makespan
        makespan = max(makespan, end_time)
        
        # Schedule the job
        ops_schedule.append(current_job)
        end_times.append(end_time)
    else:
        # Re-add the job to the end of the list if it can't be scheduled yet
        feasible_job_ls.append(current_job)

print(ops_schedule)
print(end_times)
print(makespan)

52 52 2
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]
[0, 2, 5, 4, 12, 13, 13, 15, 17, 23, 23, 28, 31, 34, 38, 42, 45, 46, 53, 47, 54, 57, 56, 62, 59, 65, 71, 72, 74, 82, 78, 82, 85, 89, 89, 95, 97, 105, 101, 106, 109, 108, 115, 112, 113, 122, 117, 124, 127, 132, 135, 141]
141